.datetimepicker {
    width: 100%;
}

.react-datepicker-wrapper {
    width: 100%;
}
.span_tit_sesf {
    font-size: 19px;
}

.txt_form{
    margin-top: 8px;
    margin-bottom: 1px;
}

.spanFilmes{
    font-size: 15px;
}